  <label for="veterinarian_name">Name</label>
  <input id="veterinarian_name" name="veterinarian[name]" type="text" value="<%= @veterinarian.name %>">
  <label for="veterinarian_phone">Phone</label>
  <input id="veterinarian_phone" name="veterinarian[phone]" type="text" value="<%= @veterinarian.phone %>">
  <label for="veterinarian_email">Email</label>
  <input id="veterinarian_email" name="veterinarian[email]" type="text" value="<%= @veterinarian.email %>">
  <label for="veterinarian_address">Address</label>
  <input id="veterinarian_address" name="veterinarian[address]" type="text" value="<%= @veterinarian.address %>">