<h1>Edit Veterinarian</h1>

<% if @veterinarian.errors.any? %>
  <h3>Please fix these errors:</h3>
  <ul>
    <% @veterinarian.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<form action="/veterinarians/<%= @veterinarian.id %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <%= render('form') %>
  <button class="btn btn-warning">Update veterinarian</button>
</form>