<h1>Veterinarian saved!</h1>

<p>Your Veterinarian was successfully saved.</p>

<p><a href="/veterinarians/<%= @veterinarian.id %>">View <%= @veterinarian.name %></a></p>

<p><a href="/veterinarians">Return to Veterinarians list</a></p>