  <label for="pet_name">Name</label>
  <input id="pet_name" name="pet[name]" type="text" value="<%= @pet.name %>">
  <label for="pet_age">Age</label>
  <input id="pet_age" name="pet[age]" type="text" value="<%= @pet.age %>">
  <label for="pet_weight">Weight</label>
  <input id="pet_weight" name="pet[weight]" type="text" value="<%= @pet.weight %>">
  <label for="pet_kind">Kind</label>
  <input id="pet_kind" name="pet[kind]" type="text" value="<%= @pet.kind %>">