<h1>Edit Appointment for <%= @vet_appointment.pet.name %></h1>

<% if @vet_appointment.errors.any? %>
  <h3>Please fix these errors:</h3>
  <ul>
    <% @vet_appointment.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= render('form') %>