<div class="page-header">
  <h1>New Vet Appointment for <%= @vet_appointment.pet.name %></h1>
</div>
<br>
<% if @vet_appointment.errors.any? %>
  <h3>Please fix these errors:</h3>
  <ul>
    <% @vet_appointment.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<form action="/pets/<%= @vet_appointment.pet.id %>/vet_appointments" method="post">
  <%= render('form') %>
  <button class="btn btn-primary">Add Vet Appointment</button>
</form>